.Header{
  text-align: center;
  margin-bottom: 4rem;
}

.App{
  border: 1px solid red;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
}

.instructions{
  border: 1px solid green;
  width:fit-content;
  padding: 1rem;
  margin: auto;
  margin-top: 4rem;
}